body {

    margin: 20px;
}

.avatar {
    width: 150px;
    border-radius: 12px;
}

.card {
    font-family: verdana;
    background-color: rgb(155, 243, 255);
    width: 400px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    border-bottom: 6px solid purple;
    margin: 0 auto;
}